<!DOCTYPE html>
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
<link rel="shortcut icon" href="{{url_for('static', filename='search.png')}}">

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>

<head>
	<meta charset="utf-8">
	<title> Scentific Writing Assistant for CS students </title>
</head>
<body>
	<div class="modal fade" id="article-edit-modal" tabindex="-1" role="dialog"	aria-hidden="true">
		<div class="modal-dialog" role="document">
		   	<div class="modal-content">
		    	<div class="modal-header text-center">
		        	<h4 class="modal-title w-100 font-weight-bold ml-4">Edit</h4>
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		        		<span aria-hidden="true">&times;</span>
		        	</button>
		      	</div>
			    <form id="article-edit-form" method="POST">
				    <div class="modal-body mx-3">
				      	<input type="hidden" id="article-id" name="article-id">
				      	<div class="py-2">
				        	<div>Old Name: </div>
				          	<input type="text" id="article-old-name" class="form-control" readonly>
				        </div>
				        <div class="py-2">
				        	<div>New Name: </div>
				          	<input type="text" id="article-new-name" name="article-new-name" class="form-control" autocomplete="off">
				        </div>
				    </div>
				    <div class="modal-footer d-flex justify-content-center">
				        <button type= "submit" class="btn btn-success">Update</button>
				    </div>
				</form>
		    </div>
		</div>
	</div>

	<nav class="navbar navbar-expand-sm navbar-light bg-light">
		<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#menu"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse navbar-fixed-top" id="menu">
		    <ul class="nav-tabs nav nav-justified">
				<li class="nav-item active">
				    <a class="nav-link active" href="#home" role="tab" data-toggle="tab" >Home</a>
			    </li>

			    <li class="nav-item">
			        <a class="nav-link" href="#import" role="tab" data-toggle="tab">Import</a>
			    </li>

			    <li class="nav-item">
			        <a class="nav-link" href="#database" role="tab" data-toggle="tab" onclick="scanDB()">Database</a>
			    </li>

			    <li class="nav-item">
			        <a class="nav-link" href="#setting" role="tab" data-toggle="tab">Setting</a>
			    </li>
			 </ul>
		</div>
	</nav>

	<div id="content" class="tab-content w-100" >
		<div id="home" role="tabpanel" class="tab-pane active px-4 py-2" >
			<div>
				<form id="search-form" method="POST">
					<div for="keywords">Search: </div>
					<div class="form-group row">
						<div class="col-sm-12 col-md-6">
							<div class="row p-1 m-0">
								<div class="col-sm-5 p-1"><input type="text" placeholder="Keyword" name="keyword" class="keyword-textbox w-100 rounded-pill form-control" autocomplete="off"></div>
								<div class="col-sm-3 p-1"><select class="keyword-pos w-100 rounded-pill form-control" name="keyword-pos">
									<option value="all" selected>All</option>
									<option value="VERB">Verb</option>
									<option value="NOUN">Noun</option>
									<option value="ADJECTIVE">Adjective</option>
									<option value="ADVERB">Adverb</option>
									<option value="OTHERS">Others</option>
								</select></div>
								<div class="col-sm-3 p-1"><select class="keyword-dep w-100 rounded-pill form-control" name="keyword-dep">
									<option value="all" selected>All</option>
									<option value="subj">Subject</option>
									<option value="obj">Object</option>
								</select></div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 my-auto">
							<div class="text-center"><button class="btn btn-primary" type="button" id="add-keyword-btn">+ Add Keyword</button></div>
						</div>
					</div>
					<div class="form-group row">
						<div class="form-group col-sm-6 col-md-4">
							<label for ="result-pos">Result POS:</label>
							<select id="result-pos" name="result-pos" class="form-control">
								<option value="VERB" selected>Verb</option>
								<option value="PVERB">Phrasal Verb</option>
								<option value="NOUN">Noun</option>
								<option value="ADJECTIVE">Adjective</option>
								<option value="ADVERB">Adverb</option>
								<option value="OTHERS">Others</option>
							</select>
						</div>
						<div class="form-group col-sm-6 col-md-4">
							<label for ="threshold">Threshold:</label>
							<input type="number" placeholder="Threshold" class="form-control" id="threshold" name="threshold"min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
						</div>
						<div class="form-group col-sm-6 col-md-4">
							<label for ="no-of-entries">Ignore Words: </label>
							<textarea id="ignore_word" name="ignore_word" class="form-control" rows="1" placeholder="Seperate words by comma(,) "></textarea>
						</div>
						<!--<div class="form-group col-xs-4 col-md-4">
							<label class="form-check-label"><input class="form-check-input" type="checkbox" name="cbb" id="cbb">checkbox</label>
						</div>!-->
					</div>
					<div>
						<button type="submit" class="btn btn-success">Search</button>
						<button type="reset" class="btn btn-secondary">Reset</button>
					</div>
				</form>
				<hr>
			</div>

			<div id="word-result-wrapper" class="hidden">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 m-auto">Showing <span id="start-no-of-result"></span> to <span id ="end-no-of-result"></span> of <span id="no-of-result"></span> record(s) </div>
					<div class="col-lg-3 col-md-6 col-sm-6"><input type="text" placeholder="Filter" id="result-filter" class="form-control"/> </div>
					<div class="col-lg-3 col-md-6 col-sm-6 m-auto">Page <span id="search-page-no">1</span></div>
					<div class="unselectable col-lg-3 col-md-6 col-sm-6"><button class="prev btn">Prev</button><span> | </span><button class="next btn">Next</button></div>
				</div>
				<ul class="list-group" id ="word-result-list">
			  	</ul>
			</div>

			<div id="word-detail-wrapper" class="hidden">
				<button type="button" class="btn btn-primary" id="back-to-result-btn">
					<span class="oi oi-arrow-thick-left"> Back</span>
				</button>
				<ul class="list-group py-2" id ="word-detail-list">

			  	</ul>
			</div>
		</div>

		<div id="import" role="tabpanel" class="tab-pane p-4">
			<div id="import-step1" class="text-center">
				<div id="auto_ignore_wrapper">
					<div class="py-2 font-weight-bold">Option: </div>
					<div class="py-2">
						<label for="auto_ignore_cb">Ignore incompleted sentences</label>
						<input type="checkbox" id="auto_ignore_cb" name="auto_ignore">
					</div>
				</div>
				<form id="import-single-form" class="hidden" enctype="multipart/form-data" method="POST">
					<input type="file" id="pdf" name="pdf" accept="application/pdf">
				</form>
				<form id="import-multi-form" class="hidden" enctype="multipart/form-data" method="POST">
					<input type="file" id="pdf-multi" name="pdf-multi" accept="application/pdf" multiple>
				</form>
				<button type="button" class="btn btn-primary" onclick="$('#pdf').click()">Import</button>
				<button type="button" class="btn btn-primary" onclick="$('#pdf-multi').click()">Import Multiple File</button>
			</div>
			<div id="import-step2-single" class="hidden">
				<form id="import-single-result-form" method="POST">
					<div class="py-1">
						<input id= "single-file" name="filename" type="hidden">
						<div class="py-1">Current File: <span id ="current-filename"></span></div>
						<div class="py-1">
							<button type="submit" class="btn btn-success">Import</button>
							<button type="button" class="btn btn-outline-secondary" id="cancel-import-single-btn" >Cancel</button>
						</div>
					</div>
					<ul class="list-group">
					</ul>
					<li class="list-group-item text-center"><button type="button" class="btn btn-primary" id="single-append-btn">Append + </button></li>
				</form>
			</div>
			<div id="import-step2-multi" class="hidden">
				<form id="import-multi-result-form" method="POST">
					<div class="py-1 d-flex justify-content-between">
						<div>
							<button type="submit" id= "import-import-multiple-btn" class="btn btn-success" disabled>Import</button>
							<button type="button" id= "delete-import-multiple-btn" class="btn btn-danger" disabled>Delete</button>
							<button type="button" class="btn btn-outline-secondary" id="cancel-import-multiple-btn" >Cancel</button>
						</div>
						<div>
							<input id="multiple-file" type="hidden" name="filename">
							<select class="px-2 py-1">
							</select>
						</div>
					</div>
					<div class="py-1">
						<ul class="list-group">
						</ul>
						<li class="list-group-item text-center"><button type="button" class="btn btn-primary" id="multi-append-btn">Append + </button></li>
					</div>
				</form>
			</div>
			<div class="text-center py-2 px-4 hidden" id="loading-div">
				<div id="prog-bar" class="progress-bar bg-success progress-bar-striped progress-bar-animated rounded-pill" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
    				<span id="prog-percentage"></span>
   				</div>
   				<div id="prog-desc"></div>
			</div>
		</div>
		<div id="database" role="tabpanel" class="tab-pane p-3">
			<ul class="nav nav-pills" id="db-menu">
				<li class="nav-item">
			 		<a class="nav-link active" role="tab" data-toggle="tab" href="#" >articles</a>
			 	</li>
			  	<li class="nav-item">
			    	<a class="nav-link" role="tab" data-toggle="tab" href="#">sentences</a>
			  	</li>
			</ul>
			<div class="py-2">
				<label for="show-no-db">Items Per Page: </label>
				<select id="show-no-db" onchange="scanDB()">
					<option value="10" selected>10</option>
					<option value="25" >25</option>
					<option value="50" >50</option>
					<option value="100" >100</option>
				</select>
			</div>
			<div class="py-2">
				<ul class="pagination pagination-lg">
				    <li><button id="previous-btn" class="btn btn-outline-secondary">&laquo;</button></li>
				    <li class="mt-1"><span id="current-page"class="h4 px-2">1</span></li>
				    <li><button id="next-btn" class="btn btn-outline-secondary">&raquo;</button></li>
				</ul>
				<div class="py-2">Totally <span id="total-record-no">0</span> Records, showing from <span id="start-no"> </span> to <span id="end-no"> </span></div>

				<div>
					<table class="table" id="db-scan-result">
						<thead>
						   	<tr id="table-header">
						   		<th scope="col">#</th><th scope="col">Article</th><th scope="col">Options</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="setting" role="tabpanel" class="tab-pane p-3">
			<button id="clear-db-btn" class="btn btn-warning">Clear Database</button>
			<button id="restore-db-backup-btn" class="btn btn-warning">Restore Database by Backup</button>
			<button id="restore-db-default-btn" class="btn btn-warning">Restore Database by Default</button>
			<button id="make-db-backup-btn" class="btn btn-warning">Make a backup</button>
		</div>
	</div>
</body>
</html>